{% for banner in all_banner %}
    <li>
        <a href="{{ banner.url }}">
            <img width="1200" height="478" src="{{ MEDIA_URL }}{{ banner.image }}"/>
        </a>
    </li>
{% endfor %}


{% for banner_course in banner_courses %}
    <li>
        <a href="{% url 'course:course_detail' banner_course.id %}">
            <img width="470" height="300"
                 src="{{ MEDIA_URL }}{{ banner_course.image }}"/>
        </a>
    </li>
{% endfor %}



{% for course in courses %}
    <div class="module1_{{ forloop.counter|add:2 }} box">
        <a href="{% url 'course:course_detail' course.id %}">
            <img width="233" height="190" src="{{ MEDIA_URL }}{{ course.image }}"/>
        </a>
        <div class="des">
            <a href="{% url 'course:course_detail' course.id %}">
                <h2 title="{{ course.name }}">{{ course.name }}</h2>
            </a>
            <span class="fl">难度：<i class="key">{{ course.get_degree_display }}</i></span>
            <span class="fr">学习人数：{{ course.students }}</span>
        </div>
        <div class="bottom"><span class="fl"
                                  title="{{ course.course_org.name }}">{{ course.course_org.name }}</span><span
                class="star fr">{{ course.fav_nums }}</span>
        </div>
    </div>
{% endfor %}



{% for org in course_orgs %}
    <li class="{% if forloop.counter|divisibleby:'5' %}five{% endif %}">
        <a href="{% url 'org:org_home' org.id %}">
            <div class="company">
                <img width="184" height="100" src="{{ MEDIA_URL }}{{ org.image }}"/>
                <div class="score">
                    <div class="circle">
                        <h2>{{ org.tag }}</h2>
                    </div>
                </div>
            </div>
            <p><span class="key" title="{{ org.name }}">{{ org.name }}</span></p>
        </a>
    </li>
{% endfor %}